@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  transition: all 0.2s ease;
  scroll-behavior: smooth;
}
.dark {
  background-color: #222831;
}
body{
  min-height: fit-content;
}

.head_text{
  @apply mt-5 text-4xl font-extrabold leading-[1.15] text-black dark:text-white sm:text-6xl;
}
.gradient_text{
  @apply bg-gradient-to-r from-blue-600 via-blue-800 to-blue-500 inline-block text-transparent bg-clip-text
}
.on_hover{
  @apply hover:bg-[#00abfb] hover:border-[#00abfb];
  transition: 0s ease;
}
.svg_hover{
  @apply dark:text-white;
  transition: 0s ease;
  
}
.ts_css{
  @apply border rounded-md shadow-md border-white dark:border-[#31363F] max-w-fit p-2 flex mx-2
}
.ts_tooltip{
  @apply absolute ml-16 font-extrabold scale-100 md:scale-0 lg:scale-0 group-hover:scale-100 dark:bg-[#222831]  bg-gray-200 p-2 rounded-lg text-sm md:text-base
}

.svg_hover:hover{
  color: #00abfb;
  border-color: #00abfb;
  transition: 0s ease;
}
.button_hover:hover{
  background-color: rgb(21, 0, 255);
  color: #ffffff;
  fill: white;
  padding-left: 15px;
}
.button_hover{
}
.menu{
  transition: 0s ease;
}
.rotate-up {
  transform: rotate(90deg);
}
.rotate-up:hover{
  transform: rotate(90deg);
}