@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  transition: all 0.2s ease;
  scroll-behavior: smooth;
}
.no_transition{
  transition: none;
}
.dark {
  background-color: #222831;
}

.head_text{
  @apply mt-5 text-4xl font-extrabold leading-[1.15] text-black dark:text-white sm:text-6xl;
}
.gradient_text{
  @apply bg-gradient-to-r from-blue-400 via-teal-500 to-blue-600 inline-block text-transparent bg-clip-text
}
.on_hover{
  @apply hover:bg-[#00abfb] hover:border-[#00abfb];
  transition: 0s ease;
}
.svg_hover{
  @apply dark:text-white;
  transition: 0s ease;
  
}
.ts_css{
  @apply border hover:scale-105 active:scale-95 rounded-md shadow-md border-white dark:border-[#31363F] max-w-fit p-2 flex mx-2
}
.ts_tooltip{
  @apply absolute ml-16 font-extrabold scale-100 md:scale-0 lg:scale-0 group-hover:scale-100 dark:bg-[#222831]  bg-gray-200 p-2 rounded-lg text-sm md:text-base overflow-hidden;
  z-index: 0;
}
.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  height: 200vh;
  width: 100%;
  background: #00000057;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000000;

}

.modal{
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg_hover:hover{
  color: #00abfb;
  border-color: #00abfb;
  transition: 0s ease;
}
.button_hover:hover{
  padding-left: 20px;
}
.button_blue_gradient{
  @apply flex text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:scale-105 active:scale-95 focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2
}
.menu{
  transition: 0s ease;
}
.rotate-up {
  transform: rotate(90deg);
}
.rotate-up:hover{
  transform: rotate(90deg);
}
.hover_scale{
  @apply hover:scale-105 active:scale-95
}